body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightgray;
}

.grid {
  display: grid;
  margin: 0 auto;
}

.cell {
  background-color: white;
  position: relative;
}

.wall {
  background-color: black;
}

.blue {
  background-color: blue;
  position: absolute;
  border-radius: 10px;
}

.green {
  background-color: green;
  position: absolute;
  border-radius: 10px;
}

@keyframes pulse {
  0% {
    opacity: 1;
    box-shadow: 0 0 10px red;
  }
  50% {
    opacity: 0.5;
    box-shadow: 0 0 20px red, 0 0 30px red;
  }
  100% {
    opacity: 1;
    box-shadow: 0 0 10px red;
  }
}

.target {
  background-color: red;
  position: absolute;
  animation: pulse 1s infinite;
  z-index: 100;
}

.info-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s;
}

.info-circle {
  background-color: rgba(200, 200, 200, 0.9);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px lightblue;
}

.question-mark {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.info-content {
  display: none;
}

.info-container.expanded .info-content {
  display: block;
  margin: 10px;
}

.info-container.expanded .question-mark {
  display: none;
}

.info-container.expanded .info-circle {
  width: 250px;
  height: 160px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}

.grid-container {
  width: 100%;
  display: flex;
  justify-content: center;
}